
<h1>Listing Todos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>

  <% @todo_lists.each do |todo_list| %>
    <tr>
      <td><%= todo_list.title %></td>
      <td><%= todo_list.description %></td>
      <td><%= link_to 'Show', todo_list_path(todo_list) %></td>
      <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
      <td><%= link_to 'Delete', todo_list_path(todo_list),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Home ',root_path %>
<%= link_to 'New List ',new_todo_list_path %>
